# Shelter Animal Outcomes 6

About this attempt:

- Uses XGBoost 
- Used much more feature extraction in this attempt
- Fills in missing training data 
- Missing ages in test data used the median of train data ages


For more information see [this link](https://www.kaggle.com/c/shelter-animal-outcomes).

In [1]:
from collections import defaultdict
from math import isnan
from datetime import datetime
import time

import pandas as pd
import numpy as np

import xgboost as xgb

from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import log_loss

import warnings
warnings.filterwarnings('ignore')

## Preprocessing

In [2]:
train_data = pd.read_csv('../DATA/train.csv')
class_headers = list(np.unique(train_data.OutcomeType))
class_headers

['Adoption', 'Died', 'Euthanasia', 'Return_to_owner', 'Transfer']

In [3]:
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [4]:
train_data.isnull().sum()

AnimalID              0
Name               7691
DateTime              0
OutcomeType           0
OutcomeSubtype    13612
AnimalType            0
SexuponOutcome        1
AgeuponOutcome       18
Breed                 0
Color                 0
dtype: int64

In [5]:
train_data.loc[train_data.AgeuponOutcome.isnull(),'AgeuponOutcome'] = '1 year' #median age

In [6]:
train_data = train_data[train_data.SexuponOutcome.notnull()]

In [7]:
train_data.isnull().sum()

AnimalID              0
Name               7691
DateTime              0
OutcomeType           0
OutcomeSubtype    13611
AnimalType            0
SexuponOutcome        0
AgeuponOutcome        0
Breed                 0
Color                 0
dtype: int64

In [8]:
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

This time we will rework breed data according to the following:

- 1 = purebreed
- 0 = mixbreed

And Name data according to the following:

- 1 = Has Name
- 2 = No Name

we will also convert datetime to a unix number of date

In [9]:
def is_purebreed(breed):
    if 'mix' in breed.lower() or '/' in breed:
        return 0
    else:
        return 1

def has_name(name):
    try:
        if isnan(name):
            return 0
    except: 
        return 1

def convert_datetime(dt):
    t = datetime.strptime(dt,'%Y-%m-%d %H:%M:%S')
    d = t.timetuple()
    return time.mktime(d)

In [10]:
train_data['IsPurebreed'] = train_data.Breed.apply(is_purebreed)
train_data['HasName'] = train_data.Name.apply(has_name)
train_data.DateTime = train_data.DateTime.apply(convert_datetime)
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,IsPurebreed,HasName
0,A671945,Hambone,1392247320,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0,1
1,A656520,Emily,1381682640,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0,1
2,A686464,Pearce,1422725280,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,0,1
3,A683430,NaN,1405120140,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,0
4,A667013,NaN,1384537920,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,0

Now lets fix the ages:

In [11]:
def convert_age(age):
    age = age.split()
    age[0] = int(age[0])
    if age[1] == 'day' or age[1] == 'days':
        return age[0]
    elif age[1] == 'week' or age[1] == 'weeks':
        return age[0]*7
    elif age[1] == 'month' or age[1] == 'months':
        return age[0]*30
    elif age[1] == 'year' or age[1] == 'years':
        return age[0]*365
    
train_data.AgeuponOutcome = train_data.AgeuponOutcome.apply(convert_age)

It may be important to note that there are many unknown sexes

In [12]:
train_data.groupby('SexuponOutcome').count()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,AgeuponOutcome,Breed,Color,IsPurebreed,HasName
SexuponOutcome,,,,,,,,,,,
Intact Female,3511,1462,3511,3511,3015,3511,3511,3511,3511,3511,3511
Intact Male,3525,1526,3525,3525,2899,3525,3525,3525,3525,3525,3525
Neutered Male,9779,8434,9779,9779,3225,9779,9779,9779,9779,9779,9779
Spayed Female,8820,7578,8820,8820,2902,8820,8820,8820,8820,8820,8820
Unknown,1093,37,1093,1093,1076,1093,1093,1093,1093,1093,1093

In [13]:
train_data.groupby('AgeuponOutcome').count()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,Breed,Color,IsPurebreed,HasName
AgeuponOutcome,,,,,,,,,,,
0,22,0,22,22,22,22,22,22,22,22,22
1,66,0,66,66,60,66,66,66,66,66,66
2,99,0,99,99,99,99,99,99,99,99,99
3,109,5,109,109,109,109,109,109,109,109,109
4,50,2,50,50,50,50,50,50,50,50,50
5,24,0,24,24,24,24,24,24,24,24,24
6,50,2,50,50,50,50,50,50,50,50,50
7,317,17,317,317,315,317,317,317,317,317,317
14,529,35,529,529,511,529,529,529,529,529,529
21,659,21,659,659,657,659,659,659,659,659,659
28,334,76,334,334,329,334,334,334,334,334,334
30,1281,711,1281,1281,1034,1281,1281,1281,1281,1281,1281
35,11,3,11,11,11,11,11,11,11,11,11
60,3397,2446,3397,3397,1370,3397,3397,3397,3397,3397,3397
90,1277,856,1277,1277,697,1277,1277,1277,1277,1277,1277
120,888,547,888,888,498,888,888,888,888,888,888
150,652,450,652,652,293,652,652,652,652,652,652
180,588,427,588,588,283,588,588,588,588,588,588
210,288,214,288,288,137,288,288,288,288,288,288
240,402,299,402,402,165,402,402,402,402,402,402
270,224,183,224,224,83,224,224,224,224,224,224
300,457,345,457,457,180,457,457,457,457,457,457
330,166,154,166,166,60,166,166,166,166,166,166
365,3987,3015,3987,3987,1767,3987,3987,3987,3987,3987,3987
730,3742,2952,3742,3742,1621,3742,3742,3742,3742,3742,3742
1095,1823,1567,1823,1823,700,1823,1823,1823,1823,1823,1823
1460,1071,943,1071,1071,378,1071,1071,1071,1071,1071,1071
1825,992,885,992,992,377,992,992,992,992,992,992
2190,670,610,670,670,243,670,670,670,670,670,670
2555,530,484,530,530,179,530,530,530,530,530,530
2920,536,480,536,536,199,536,536,536,536,536,536
3285,288,266,288,288,106,288,288,288,288,288,288
3650,446,379,446,446,207,446,446,446,446,446,446
4015,126,119,126,126,39,126,126,126,126,126,126
4380,234,192,234,234,112,234,234,234,234,234,234
4745,143,126,143,143,56,143,143,143,143,143,143
5110,97,90,97,97,36,97,97,97,97,97,97
5475,85,71,85,85,35,85,85,85,85,85,85
5840,36,34,36,36,12,36,36,36,36,36,36
6205,17,17,17,17,6,17,17,17,17,17,17
6570,10,9,10,10,4,10,10,10,10,10,10
6935,3,3,3,3,2,3,3,3,3,3,3
7300,2,2,2,2,1,2,2,2,2,2,2

In [14]:
## Lets make more categories based of age
def in_age_range(val,low,high):
    if low <= val <= high:
        return 1
    else:
        return 0
    
train_data['LessThanMonthOld'] = train_data.AgeuponOutcome.apply(lambda x:in_age_range(x,0,30))
train_data['31To365'] = train_data.AgeuponOutcome.apply(lambda x:in_age_range(x,31,365))
train_data['YearTo1000'] = train_data.AgeuponOutcome.apply(lambda x:in_age_range(x,366,1000))
train_data['1000to4000'] = train_data.AgeuponOutcome.apply(lambda x:in_age_range(x,1001,4000))
train_data['OlderThan4000'] = train_data.AgeuponOutcome.apply(lambda x:in_age_range(x,4001,12000))
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,IsPurebreed,HasName,LessThanMonthOld,31To365,YearTo1000,1000to4000,OlderThan4000
0,A671945,Hambone,1392247320,Return_to_owner,NaN,Dog,Neutered Male,365,Shetland Sheepdog Mix,Brown/White,0,1,0,1,0,0,0
1,A656520,Emily,1381682640,Euthanasia,Suffering,Cat,Spayed Female,365,Domestic Shorthair Mix,Cream Tabby,0,1,0,1,0,0,0
2,A686464,Pearce,1422725280,Adoption,Foster,Dog,Neutered Male,730,Pit Bull Mix,Blue/White,0,1,0,0,1,0,0
3,A683430,NaN,1405120140,Transfer,Partner,Cat,Intact Male,21,Domestic Shorthair Mix,Blue Cream,0,0,1,0,0,0,0
4,A667013,NaN,1384537920,Transfer,Partner,Dog,Neutered Male,730,Lhasa Apso/Miniature Poodle,Tan,0,0,0,0,1,0,0

In [15]:
## Create Category for male/female
def male_or_female(val):
    if 'Female' in val:
        return 1
    elif 'Unknown' in val:
        return 2
    else:
        return 0
    
train_data['Female'] = train_data.SexuponOutcome.apply(male_or_female)

In [16]:
## Intact or not
def intact(val):
    if 'Unknown' in val:
        return 2
    if 'Intact' in val:
        return 1
    else:
        return 0
    
train_data['Intact'] = train_data.SexuponOutcome.apply(intact)

In [17]:
## Breeds
def parse_breed(val,contains):
    for i in contains:
        if i in val.lower():
            return 1
    return 0

train_data['IsMix'] = train_data['Breed'].apply(lambda x:parse_breed(x, ["mix"]))
train_data['Cross'] = train_data['Breed'].apply(lambda x:parse_breed(x, ["/"]))
train_data['Miniature'] = train_data['Breed'].apply(lambda x:parse_breed(x, ["miniature"]))
train_data['IsShihTzu'] = train_data['Breed'].apply(lambda x:parse_breed(x, ["shih tzu"]))
train_data['IsAggressive'] = train_data['Breed'].apply(lambda x:parse_breed(x, ["rottweiler", "pit bull", "siberian husky"]))

In [18]:
## colors
def parse_color(val, color):
    if color in val:
        return 1
    else:
        return 0
    
colors = ['Black','White','Brown','Gray','Yellow','Red','Blue',\
         'Orange','Calico','Chocolate','Gold','Tan','Tortie','Cream',\
         'Silver','Buff','Liver','Lilac','Tabby','Tricolor','Smoke',\
         'Brindle','Fawn','Flame','Point']

for color in colors:
    train_data['Has'+color] = train_data['Color'].apply(lambda x: parse_color(x,color))

train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,...,HasBuff,HasLiver,HasLilac,HasTabby,HasTricolor,HasSmoke,HasBrindle,HasFawn,HasFlame,HasPoint
0,A671945,Hambone,1392247320,Return_to_owner,NaN,Dog,Neutered Male,365,Shetland Sheepdog Mix,Brown/White,...,0,0,0,0,0,0,0,0,0,0
1,A656520,Emily,1381682640,Euthanasia,Suffering,Cat,Spayed Female,365,Domestic Shorthair Mix,Cream Tabby,...,0,0,0,1,0,0,0,0,0,0
2,A686464,Pearce,1422725280,Adoption,Foster,Dog,Neutered Male,730,Pit Bull Mix,Blue/White,...,0,0,0,0,0,0,0,0,0,0
3,A683430,NaN,1405120140,Transfer,Partner,Cat,Intact Male,21,Domestic Shorthair Mix,Blue Cream,...,0,0,0,0,0,0,0,0,0,0
4,A667013,NaN,1384537920,Transfer,Partner,Dog,Neutered Male,730,Lhasa Apso/Miniature Poodle,Tan,...,0,0,0,0,0,0,0,0,0,0

It may also be important to note that the classes are pretty imbalanced

In [19]:
train_data.groupby('OutcomeType').count()

,AnimalID,Name,DateTime,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,IsPurebreed,...,HasBuff,HasLiver,HasLilac,HasTabby,HasTricolor,HasSmoke,HasBrindle,HasFawn,HasFlame,HasPoint
OutcomeType,,,,,,,,,,,,,,,,,,,,,
Adoption,10769,9091,10769,1966,10769,10769,10769,10769,10769,10769,...,10769,10769,10769,10769,10769,10769,10769,10769,10769,10769
Died,197,77,197,181,197,197,197,197,197,197,...,197,197,197,197,197,197,197,197,197,197
Euthanasia,1555,740,1555,1554,1555,1555,1555,1555,1555,1555,...,1555,1555,1555,1555,1555,1555,1555,1555,1555,1555
Return_to_owner,4785,4632,4785,0,4785,4785,4785,4785,4785,4785,...,4785,4785,4785,4785,4785,4785,4785,4785,4785,4785
Transfer,9422,4497,9422,9416,9422,9422,9422,9422,9422,9422,...,9422,9422,9422,9422,9422,9422,9422,9422,9422,9422

Need to convert the string data to numerical

In [20]:
# This function operates in place
def map_str_to_int(df,col_name):
    categories = list(enumerate(np.unique(df[col_name])))
    map_dict = { name : i for i, name in categories }              
    df[col_name] = df[col_name].map( lambda x: map_dict[x]).astype(int)

In [21]:
#map_str_to_int(train_data,'Breed')
map_str_to_int(train_data,'AnimalType')
map_str_to_int(train_data,'SexuponOutcome')
map_str_to_int(train_data,'OutcomeType')

In [22]:
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,...,HasBuff,HasLiver,HasLilac,HasTabby,HasTricolor,HasSmoke,HasBrindle,HasFawn,HasFlame,HasPoint
0,A671945,Hambone,1392247320,3,NaN,1,2,365,Shetland Sheepdog Mix,Brown/White,...,0,0,0,0,0,0,0,0,0,0
1,A656520,Emily,1381682640,2,Suffering,0,3,365,Domestic Shorthair Mix,Cream Tabby,...,0,0,0,1,0,0,0,0,0,0
2,A686464,Pearce,1422725280,0,Foster,1,2,730,Pit Bull Mix,Blue/White,...,0,0,0,0,0,0,0,0,0,0
3,A683430,NaN,1405120140,4,Partner,0,1,21,Domestic Shorthair Mix,Blue Cream,...,0,0,0,0,0,0,0,0,0,0
4,A667013,NaN,1384537920,4,Partner,1,2,730,Lhasa Apso/Miniature Poodle,Tan,...,0,0,0,0,0,0,0,0,0,0

In [23]:
a = 1392247320

print(datetime.utcfromtimestamp(a).hour)
print(datetime.utcfromtimestamp(a).year)

23
2014

In [24]:
# convert date time to day and month variables
def get_year(timestamp):
    return datetime.utcfromtimestamp(timestamp).year

def get_month(timestamp):
    return datetime.utcfromtimestamp(timestamp).month

def get_day(timestamp):
    return datetime.utcfromtimestamp(timestamp).day

def get_day_of_week(timestamp):
    return datetime.utcfromtimestamp(timestamp).weekday()

def get_hour_of_day(timestamp):
    return datetime.utcfromtimestamp(timestamp).hour

train_data['Month'] = train_data.DateTime.apply(get_month)
train_data['Day'] = train_data.DateTime.apply(get_day)
train_data['DayOfWeek'] = train_data.DateTime.apply(get_day_of_week)
train_data['Hour'] = train_data.DateTime.apply(get_hour_of_day)
train_data['Year'] = train_data.DateTime.apply(get_year)

train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,...,HasSmoke,HasBrindle,HasFawn,HasFlame,HasPoint,Month,Day,DayOfWeek,Hour,Year
0,A671945,Hambone,1392247320,3,NaN,1,2,365,Shetland Sheepdog Mix,Brown/White,...,0,0,0,0,0,2,12,2,23,2014
1,A656520,Emily,1381682640,2,Suffering,0,3,365,Domestic Shorthair Mix,Cream Tabby,...,0,0,0,0,0,10,13,6,16,2013
2,A686464,Pearce,1422725280,0,Foster,1,2,730,Pit Bull Mix,Blue/White,...,0,0,0,0,0,1,31,5,17,2015
3,A683430,NaN,1405120140,4,Partner,0,1,21,Domestic Shorthair Mix,Blue Cream,...,0,0,0,0,0,7,11,4,23,2014
4,A667013,NaN,1384537920,4,Partner,1,2,730,Lhasa Apso/Miniature Poodle,Tan,...,0,0,0,0,0,11,15,4,17,2013

In [25]:
train_data.columns

Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color',
       'IsPurebreed', 'HasName', 'LessThanMonthOld', '31To365', 'YearTo1000',
       '1000to4000', 'OlderThan4000', 'Female', 'Intact', 'IsMix', 'Cross',
       'Miniature', 'IsShihTzu', 'IsAggressive', 'HasBlack', 'HasWhite',
       'HasBrown', 'HasGray', 'HasYellow', 'HasRed', 'HasBlue', 'HasOrange',
       'HasCalico', 'HasChocolate', 'HasGold', 'HasTan', 'HasTortie',
       'HasCream', 'HasSilver', 'HasBuff', 'HasLiver', 'HasLilac', 'HasTabby',
       'HasTricolor', 'HasSmoke', 'HasBrindle', 'HasFawn', 'HasFlame',
       'HasPoint', 'Month', 'Day', 'DayOfWeek', 'Hour', 'Year'],
      dtype='object')

In [26]:
useful_columns = ['OutcomeType',\
                'DateTime', \
               'AnimalType', \
                  'AgeuponOutcome', \
               'IsPurebreed', \
                  'HasName', \
                  'LessThanMonthOld', \
                  '31To365', \
                  'YearTo1000',\
               '1000to4000', \
                  'OlderThan4000', \
                  'Female', \
                  'Intact', \
                  'IsMix', \
                  'Cross',\
               'Miniature', \
                  'IsShihTzu', \
                  'IsAggressive', \
                  'HasBlack', \
                  'HasWhite',\
               'HasBrown', \
                  'HasGray', \
                  'HasYellow', \
                  'HasRed', \
                  'HasBlue', \
                  'HasOrange',\
               'HasCalico', \
                  'HasChocolate', \
                  'HasGold', \
                  'HasTan', \
                  'HasTortie',\
               'HasCream', \
                  'HasSilver', \
                  'HasBuff', \
                  'HasLiver', \
                  'HasLilac', \
                  'HasTabby',\
               'HasTricolor', \
                  'HasSmoke', \
                  'HasBrindle', \
                  'HasFawn', \
                  'HasFlame',\
               'HasPoint', \
                  'Year',\
                  'Month', \
                  'Day', \
                  'DayOfWeek',\
                 'Hour']

#uc = useful_columns
#useful_columns = uc[:17] + uc[18:23] + uc[24:27] + uc[28:29]+uc[30:31]+uc[32:33]+uc[37:39]+uc[40:41]+uc[44:45]+uc[47:]
#useful_columns = uc[:35]+uc[37:39]+uc[40:42]+uc[43:45]+uc[47:]

train_data=train_data[useful_columns]

## Predict on test data

In [27]:
#[['AnimalType','SexuponOutcome','AgeuponOutcome','Breed']]
train_data = np.array(train_data)
label = train_data[:,0]
train_data = train_data[:,1:]
label

array([ 3.,  2.,  0., ...,  0.,  4.,  4.])

Import and process test data

In [28]:
original_test_data = test_data = pd.read_csv('../DATA/test.csv')
test_data.head()

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White

In [29]:
test_data.isnull().sum()

ID                   0
Name              3225
DateTime             0
AnimalType           0
SexuponOutcome       0
AgeuponOutcome       6
Breed                0
Color                0
dtype: int64

In [30]:
useful_columns = ['ID', \
                  'DateTime', \
               'AnimalType', \
                  'AgeuponOutcome', \
               'IsPurebreed', \
                  'HasName', \
                  'LessThanMonthOld', \
                  '31To365', \
                  'YearTo1000',\
               '1000to4000', \
                  'OlderThan4000', \
                  'Female', \
                  'Intact', \
                  'IsMix', \
                  'Cross',\
               'Miniature', \
                  'IsShihTzu', \
                  'IsAggressive', \
                  'HasBlack', \
                  'HasWhite',\
               'HasBrown', \
                  'HasGray', \
                  'HasYellow', \
                  'HasRed', \
                  'HasBlue', \
                  'HasOrange',\
               'HasCalico', \
                  'HasChocolate', \
                  'HasGold', \
                  'HasTan', \
                  'HasTortie',\
               'HasCream', \
                  'HasSilver', \
                  'HasBuff', \
                  'HasLiver', \
                  'HasLilac', \
                  'HasTabby',\
               'HasTricolor', \
                  'HasSmoke', \
                  'HasBrindle', \
                  'HasFawn', \
                  'HasFlame',\
               'HasPoint', \
                  'Year',\
                  'Month', \
                  'Day', \
                  'DayOfWeek',\
                 'Hour']

#uc = useful_columns
#useful_columns = uc[:17] + uc[18:23] + uc[24:27] + uc[28:29]+uc[30:31]+uc[32:33]+uc[37:39]+uc[40:41]+uc[44:45]+uc[47:]
#useful_columns = uc[:35]+uc[37:39]+uc[40:42]+uc[43:45]+uc[47:]

test_data.loc[test_data.AgeuponOutcome.isnull(),'AgeuponOutcome'] = '1 year' #median age
test_data.AgeuponOutcome = test_data.AgeuponOutcome.apply(convert_age)
test_data['IsPurebreed'] = test_data.Breed.apply(is_purebreed)
test_data['HasName'] = test_data.Name.apply(has_name)
test_data.DateTime = test_data.DateTime.apply(convert_datetime)
test_data['Year'] = test_data.DateTime.apply(get_year)
test_data['Month'] = test_data.DateTime.apply(get_month)
test_data['Day'] = test_data.DateTime.apply(get_day)
test_data['DayOfWeek'] = test_data.DateTime.apply(get_day_of_week)
test_data['Hour'] = test_data.DateTime.apply(get_hour_of_day)

test_data['LessThanMonthOld'] = test_data.AgeuponOutcome.apply(lambda x:in_age_range(x,0,30))
test_data['31To365'] = test_data.AgeuponOutcome.apply(lambda x:in_age_range(x,31,365))
test_data['YearTo1000'] = test_data.AgeuponOutcome.apply(lambda x:in_age_range(x,366,1000))
test_data['1000to4000'] = test_data.AgeuponOutcome.apply(lambda x:in_age_range(x,1001,4000))
test_data['OlderThan4000'] = test_data.AgeuponOutcome.apply(lambda x:in_age_range(x,4001,12000))

test_data['Female'] = test_data.SexuponOutcome.apply(male_or_female)
test_data['Intact'] = test_data.SexuponOutcome.apply(intact)

test_data['IsMix'] = test_data['Breed'].apply(lambda x:parse_breed(x, ["mix"]))
test_data['Cross'] = test_data['Breed'].apply(lambda x:parse_breed(x, ["/"]))
test_data['Miniature'] = test_data['Breed'].apply(lambda x:parse_breed(x, ["miniature"]))
test_data['IsShihTzu'] = test_data['Breed'].apply(lambda x:parse_breed(x, ["shih tzu"]))
test_data['IsAggressive'] = test_data['Breed'].apply(lambda x:parse_breed(x, ["rottweiler", "pit bull", "siberian husky"]))

for color in colors:
    test_data['Has'+color] = test_data['Color'].apply(lambda x: parse_color(x,color))

map_str_to_int(test_data,'AnimalType')
map_str_to_int(test_data,'SexuponOutcome')

test_data.head()

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,IsPurebreed,HasName,...,HasBuff,HasLiver,HasLilac,HasTabby,HasTricolor,HasSmoke,HasBrindle,HasFawn,HasFlame,HasPoint
0,1,Summer,1444666500,1,0,300,Labrador Retriever Mix,Red/White,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Cheyenne,1406411940,1,3,730,German Shepherd/Siberian Husky,Black/Tan,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,Gus,1452705600,0,2,365,Domestic Shorthair Mix,Brown Tabby,0,1,...,0,0,0,1,0,0,0,0,0,0
3,4,Pongo,1388272320,1,1,120,Collie Smooth Mix,Tricolor,0,1,...,0,0,0,0,1,0,0,0,0,0
4,5,Skooter,1443131940,1,2,730,Miniature Poodle Mix,White,0,1,...,0,0,0,0,0,0,0,0,0,0

In [31]:
test_data = test_data[useful_columns]
test_data = np.array(test_data)
test_data = test_data[:,1:]
test_data = np.array(test_data)

In [32]:
print(test_data.shape,train_data.shape)

(11456, 47) (26728, 47)

#### XGBOOST

##### Cross validation grid search

In [33]:
gbm = xgb.XGBClassifier()
grid_params = {'max_depth':list(range(5,15)), #depth of tree
             'learning_rate':[0,0.05,0.1,0.2,0.5,1],  #step shrinkage size (eta)
             'silent':[1],  #verbose=0,notverbose=1
             'objective':['multi:softprob'],  #soft max for multiclass with prob of each class
             'n_estimators':[50,100,150,200], #number of trees
             #'num_class':[5], #number of classes
             #'eval_metric':['mlogloss'], #evaluate with logloss for multiclass
             'nthread':[4] #use 4 threads
             } 
cv = StratifiedKFold(label,n_folds=5,shuffle=True)
grid = GridSearchCV(gbm, grid_params,scoring='log_loss',cv=cv, verbose=1, refit=True)
grid.fit(train_data, label)

best_parameters, score, _ = max(grid.grid_scores_, key=lambda x: x[1])
print('Log Loss score:', score)
for param_name in sorted(best_parameters.keys()):
    print("%s: %r" % (param_name, best_parameters[param_name]))

Fitting 5 folds for each of 240 candidates, totalling 1200 fits

[Parallel(n_jobs=1)]: Done  49 tasks       | elapsed: 13.9min
[Parallel(n_jobs=1)]: Done 199 tasks       | elapsed: 101.5min
[Parallel(n_jobs=1)]: Done 449 tasks       | elapsed: 218.3min
[Parallel(n_jobs=1)]: Done 799 tasks       | elapsed: 392.1min
[Parallel(n_jobs=1)]: Done 1200 out of 1200 | elapsed: 549.1min finished

Log Loss score: -0.740798778469
learning_rate: 0.05
max_depth: 8
n_estimators: 200
nthread: 4
objective: 'multi:softprob'
silent: 1

##### Actual prediction

In [34]:
dtrain = xgb.DMatrix(train_data,label=label)
dtest = xgb.DMatrix(test_data)
param = {'max_depth':8, #depth of tree
         'eta':.05,  #step shrinkage size
         'silent':1,  #verbose=0,notverbose=1
         'objective':'multi:softprob',  #soft max for multiclass with prob of each class
         'num_class':5, #number of classes
         'eval_metric':'mlogloss', #evaluate with logloss for multiclass
         'nthread':4 #use 4 threads
         } 
#consider playing with gamma in the above parameters

num_round = 200
watchlist  = [(dtrain,'train')]
bst = xgb.train(param, dtrain, num_round, watchlist)

[0]	train-mlogloss:1.550486
[1]	train-mlogloss:1.497394
[2]	train-mlogloss:1.449068
[3]	train-mlogloss:1.404837
[4]	train-mlogloss:1.364121
[5]	train-mlogloss:1.326631
[6]	train-mlogloss:1.291813
[7]	train-mlogloss:1.259477
[8]	train-mlogloss:1.229215
[9]	train-mlogloss:1.200905
[10]	train-mlogloss:1.174532
[11]	train-mlogloss:1.149572
[12]	train-mlogloss:1.126080
[13]	train-mlogloss:1.103985
[14]	train-mlogloss:1.083109
[15]	train-mlogloss:1.063272
[16]	train-mlogloss:1.044569
[17]	train-mlogloss:1.026770
[18]	train-mlogloss:1.009974
[19]	train-mlogloss:0.993849
[20]	train-mlogloss:0.978740
[21]	train-mlogloss:0.964392
[22]	train-mlogloss:0.950822
[23]	train-mlogloss:0.937930
[24]	train-mlogloss:0.925607
[25]	train-mlogloss:0.913853
[26]	train-mlogloss:0.902666
[27]	train-mlogloss:0.891832
[28]	train-mlogloss:0.881428
[29]	train-mlogloss:0.871531
[30]	train-mlogloss:0.862107
[31]	train-mlogloss:0.853076
[32]	train-mlogloss:0.844500
[33]	train-mlogloss:0.836176
[34]	train-mlogloss:0.828221
[35]	train-mlogloss:0.820569
[36]	train-mlogloss:0.813287
[37]	train-mlogloss:0.806271
[38]	train-mlogloss:0.799471
[39]	train-mlogloss:0.792944
[40]	train-mlogloss:0.786757
[41]	train-mlogloss:0.780673
[42]	train-mlogloss:0.774892
[43]	train-mlogloss:0.769135
[44]	train-mlogloss:0.763817
[45]	train-mlogloss:0.758694
[46]	train-mlogloss:0.753563
[47]	train-mlogloss:0.748669
[48]	train-mlogloss:0.743938
[49]	train-mlogloss:0.739428
[50]	train-mlogloss:0.734972
[51]	train-mlogloss:0.730672
[52]	train-mlogloss:0.726348
[53]	train-mlogloss:0.722143
[54]	train-mlogloss:0.717976
[55]	train-mlogloss:0.713961
[56]	train-mlogloss:0.710181
[57]	train-mlogloss:0.706482
[58]	train-mlogloss:0.703035
[59]	train-mlogloss:0.699572
[60]	train-mlogloss:0.696279
[61]	train-mlogloss:0.693016
[62]	train-mlogloss:0.689899
[63]	train-mlogloss:0.686745
[64]	train-mlogloss:0.683829
[65]	train-mlogloss:0.680831
[66]	train-mlogloss:0.678000
[67]	train-mlogloss:0.675175
[68]	train-mlogloss:0.672622
[69]	train-mlogloss:0.670039
[70]	train-mlogloss:0.667490
[71]	train-mlogloss:0.665091
[72]	train-mlogloss:0.662558
[73]	train-mlogloss:0.660251
[74]	train-mlogloss:0.657833
[75]	train-mlogloss:0.655578
[76]	train-mlogloss:0.653467
[77]	train-mlogloss:0.651304
[78]	train-mlogloss:0.649330
[79]	train-mlogloss:0.647197
[80]	train-mlogloss:0.645156
[81]	train-mlogloss:0.643198
[82]	train-mlogloss:0.641207
[83]	train-mlogloss:0.639345
[84]	train-mlogloss:0.637500
[85]	train-mlogloss:0.635622
[86]	train-mlogloss:0.633879
[87]	train-mlogloss:0.632097
[88]	train-mlogloss:0.630301
[89]	train-mlogloss:0.628729
[90]	train-mlogloss:0.627041
[91]	train-mlogloss:0.625484
[92]	train-mlogloss:0.623934
[93]	train-mlogloss:0.622449
[94]	train-mlogloss:0.620944
[95]	train-mlogloss:0.619706
[96]	train-mlogloss:0.618353
[97]	train-mlogloss:0.617043
[98]	train-mlogloss:0.615735
[99]	train-mlogloss:0.614450
[100]	train-mlogloss:0.613119
[101]	train-mlogloss:0.611979
[102]	train-mlogloss:0.610884
[103]	train-mlogloss:0.609785
[104]	train-mlogloss:0.608849
[105]	train-mlogloss:0.607774
[106]	train-mlogloss:0.606796
[107]	train-mlogloss:0.605757
[108]	train-mlogloss:0.604860
[109]	train-mlogloss:0.603906
[110]	train-mlogloss:0.602979
[111]	train-mlogloss:0.602074
[112]	train-mlogloss:0.601264
[113]	train-mlogloss:0.600457
[114]	train-mlogloss:0.599633
[115]	train-mlogloss:0.598655
[116]	train-mlogloss:0.597770
[117]	train-mlogloss:0.596955
[118]	train-mlogloss:0.596038
[119]	train-mlogloss:0.595194
[120]	train-mlogloss:0.594392
[121]	train-mlogloss:0.593567
[122]	train-mlogloss:0.592515
[123]	train-mlogloss:0.591772
[124]	train-mlogloss:0.590926
[125]	train-mlogloss:0.590221
[126]	train-mlogloss:0.589486
[127]	train-mlogloss:0.588665
[128]	train-mlogloss:0.587873
[129]	train-mlogloss:0.587061
[130]	train-mlogloss:0.586377
[131]	train-mlogloss:0.585550
[132]	train-mlogloss:0.584768
[133]	train-mlogloss:0.583671
[134]	train-mlogloss:0.582733
[135]	train-mlogloss:0.581826
[136]	train-mlogloss:0.580971
[137]	train-mlogloss:0.579842
[138]	train-mlogloss:0.578924
[139]	train-mlogloss:0.577638
[140]	train-mlogloss:0.576810
[141]	train-mlogloss:0.575974
[142]	train-mlogloss:0.575342
[143]	train-mlogloss:0.574624
[144]	train-mlogloss:0.573779
[145]	train-mlogloss:0.573035
[146]	train-mlogloss:0.571977
[147]	train-mlogloss:0.570987
[148]	train-mlogloss:0.569864
[149]	train-mlogloss:0.569026
[150]	train-mlogloss:0.568242
[151]	train-mlogloss:0.567172
[152]	train-mlogloss:0.566263
[153]	train-mlogloss:0.565599
[154]	train-mlogloss:0.564694
[155]	train-mlogloss:0.564078
[156]	train-mlogloss:0.563106
[157]	train-mlogloss:0.562346
[158]	train-mlogloss:0.561728
[159]	train-mlogloss:0.560652
[160]	train-mlogloss:0.559692
[161]	train-mlogloss:0.559071
[162]	train-mlogloss:0.558168
[163]	train-mlogloss:0.557368
[164]	train-mlogloss:0.556930
[165]	train-mlogloss:0.556326
[166]	train-mlogloss:0.555811
[167]	train-mlogloss:0.554930
[168]	train-mlogloss:0.554211
[169]	train-mlogloss:0.553444
[170]	train-mlogloss:0.552444
[171]	train-mlogloss:0.551782
[172]	train-mlogloss:0.551191
[173]	train-mlogloss:0.550587
[174]	train-mlogloss:0.549792
[175]	train-mlogloss:0.548926
[176]	train-mlogloss:0.548237
[177]	train-mlogloss:0.547790
[178]	train-mlogloss:0.547225
[179]	train-mlogloss:0.546358
[180]	train-mlogloss:0.545649
[181]	train-mlogloss:0.544939
[182]	train-mlogloss:0.544360
[183]	train-mlogloss:0.543990
[184]	train-mlogloss:0.543255
[185]	train-mlogloss:0.542491
[186]	train-mlogloss:0.541846
[187]	train-mlogloss:0.541234
[188]	train-mlogloss:0.540684
[189]	train-mlogloss:0.540003
[190]	train-mlogloss:0.539494
[191]	train-mlogloss:0.538933
[192]	train-mlogloss:0.538336
[193]	train-mlogloss:0.537628
[194]	train-mlogloss:0.536974
[195]	train-mlogloss:0.536319
[196]	train-mlogloss:0.535684
[197]	train-mlogloss:0.535254
[198]	train-mlogloss:0.534568
[199]	train-mlogloss:0.534095

In [35]:
preds = bst.predict(dtest)
result = pd.DataFrame(preds,columns=class_headers, index=original_test_data.ID).reset_index()
result.head()

   ID  Adoption      Died  Euthanasia  Return_to_owner  Transfer
0   1  0.021582  0.001398    0.027530         0.125842  0.823648
1   2  0.734094  0.001196    0.032300         0.167720  0.064691
2   3  0.348399  0.001312    0.006125         0.094498  0.549666
3   4  0.277026  0.002529    0.008076         0.126565  0.585804
4   5  0.518533  0.003442    0.003249         0.381784  0.092991

In [37]:
result.to_csv('./solution007.csv',index=False)

### Random Forest

##### RFC Cross validation

In [38]:
'''print(sum(cross_val_score(RandomForestClassifier(1000), \
                          train_data, label, scoring='log_loss', cv=20, verbose=1))/20)'''

"print(sum(cross_val_score(RandomForestClassifier(1000),                           train_data, label, scoring='log_loss', cv=20, verbose=1))/20)"

##### RFC prediction

In [39]:
rfc = RandomForestClassifier(1000)
rfc.fit(train_data,label)
preds = rfc.predict_proba(test_data)
result = pd.DataFrame(preds,columns=class_headers, index=original_test_data.ID).reset_index()
result.head()

   ID  Adoption   Died  Euthanasia  Return_to_owner  Transfer
0   1     0.022  0.000       0.023            0.085     0.870
1   2     0.730  0.000       0.026            0.122     0.122
2   3     0.478  0.000       0.017            0.131     0.374
3   4     0.220  0.001       0.029            0.147     0.603
4   5     0.595  0.002       0.002            0.282     0.119

In [40]:
rfc.feature_importances_

array([ 0.10965209,  0.02171729,  0.1023646 ,  0.0057751 ,  0.04341672,
        0.01491254,  0.02063826,  0.00549663,  0.0126014 ,  0.00563251,
        0.02589937,  0.10994917,  0.00907292,  0.00753302,  0.00487011,
        0.00216033,  0.01141995,  0.01780378,  0.02108909,  0.01533762,
        0.00351424,  0.00246693,  0.00644668,  0.00925267,  0.0033812 ,
        0.00209614,  0.00409872,  0.00098332,  0.01108099,  0.00210659,
        0.00371474,  0.00112979,  0.00278041,  0.00035658,  0.0001409 ,
        0.00718413,  0.00529545,  0.00044129,  0.0061609 ,  0.0022852 ,
        0.00064116,  0.00230107,  0.02694317,  0.06779999,  0.09104622,
        0.06502697,  0.10398206])

In [41]:
result.to_csv('./solution008.csv',index=False)

### Outcome

Improved even further. ranked 32/436

XGB - 0.72361

RFC - Didn't submit